input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #c1c2c1;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    transition: all .35s;
  }
  
  input[type=submit]:hover {
    background-color: #98825a;
    color: white;
  }

  .containerhome {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered2 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
  }

  .bg-maddi-1 {
    --tw-bg-opacity:1;
    background-color:rgba(173, 151, 115,var(--tw-bg-opacity));
  }

  .bg-maddi-2 {
    --tw-bg-opacity:1;
    background-color:rgba(152, 130, 90, var(--tw-bg-opacity));
  }
  .group:hover .group-hover\:bg-maddi-2{--tw-bg-opacity:1;background-color:rgba(152, 130, 90,var(--tw-bg-opacity))}

  .text-maddi-1{
    --tw-text-opacity:1;
    color:rgba(173, 151, 115,var(--tw-text-opacity))};

  .text-maddi-2{
    --tw-text-opacity:1;
    color:rgba(152, 130, 90,var(--tw-text-opacity))};

  .sm\:focus\:border-maddi-1:focus{
    --tw-border-opacity:1;
    border-color:rgba(152, 130, 90,var(--tw-border-opacity))}