{% extends 'layouts/base_auth.html' %}

{% load static %}
{% load tailwind_filters %}

{% block content %}
<header class="max-w-lg mx-auto">
    <a href="{% url 'index' %}">
        <section class="hero container max-w-screen-lg mx-auto pb-10">
            <img class="mx-auto" src="../../../static/images/Maddi.png">
        </section>
    </a>
</header>

<main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section>
        <h3 class="font-bold text-2xl">Welcome to Maddi</h3>
        <p class="text-gray-600 pt-2">Sign in to your account.</p>
    </section>

    <section class="mt-6">
        <form id="login_form" class="flex flex-col" method="POST">
            {% csrf_token %}

            {{ form|crispy }}
        </form>
        <dv class="flex flex-col">
            <button class="mt-6 bg-maddi-1 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit" form="login_form">Sign In</button>
        </dv>
    </section>
</main>

<div class="max-w-lg mx-auto text-center mt-12 mb-6">
    <p class="text-black">Don't have an account? <a href="/register" class="font-bold hover:underline">Sign up</a>.</p>
</div>
<footer>
    <section class="mt-10 flex flex-col">
        <button class="bg-maddi-1 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button">
            <a href="{% url 'index' %}">Back to homepage</a>
        </button>
    </section>
</footer>
{% endblock %}