{% extends 'layouts/base_auth.html' %}

{% load static %}
{% load tailwind_filters %}

{% block content %}
<header class="max-w-lg mx-auto">
    <a href="{% url 'index' %}">
        <section class="hero container max-w-screen-lg mx-auto pb-10">
            <img class="mx-auto" src="../../../static/images/Maddi.png">
        </section>
    </a>
</header>

<main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl" x-data="cities()" x-init="loadProvinces()">
    <section>
        <h3 class="font-bold text-2xl">Sign up</h3>
        <p class="text-gray-600 pt-2">Creating an account will allow you to save your shipping details, make checkout faster and view your purchase history.</p>
    </section>

    <section class="mt-10">
        <form class="flex flex-col" method="POST">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ customer_form.phone_number|as_crispy_field }}
            {{ customer_form.address|as_crispy_field }}
            <div id="div_id_customer-province" class="mb-3"> 
                <label for="id_customer-province" class="block text-gray-700 text-sm font-bold mb-2">
                    Province<span class="asteriskField">*</span> 
                </label> 
                <select x-model="selectedProvince" x-on:change="loadCities()">
                    <template x-for="province in provinces" :key="province">
                        <option :value="province.province_id" x-text="province.province"></option>
                    </template>
                </select>
            </div>
            <template x-if="cities.length > 0">
                <div id="div_id_customer-city" class="mb-3"> 
                    <label for="id_customer-city" class="block text-gray-700 text-sm font-bold mb-2">
                        City<span class="asteriskField">*</span> 
                    </label>
                    <select name="customer-city" x-model="selectedCity">
                        <template x-for="city in cities" :key="city">
                            <option :value="city.city_id" x-text="city.city_name"></option>
                        </template>
                    </select>
                </div>
            </template>
            {{ customer_form.postal_code|as_crispy_field }}
            <button class="bg-maddi-1 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">Sign Up</button>
        </form>
    </section>
</main>

<div class="max-w-lg mx-auto text-center mt-12 mb-6">
    <p class="text-black">Already have an account? <a href="/login" class="font-bold hover:underline">Sign in</a>.</p>
</div>
<footer>
    <section class="mt-10 flex flex-col">
        <button class="bg-maddi-1 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="button">
            <a href="{% url 'index' %}">Back to homepage</a>
        </button>
    </section>
</footer>
{% endblock %}

{% block js %}
<script>
    function cities() {
        return {
            selectedProvince: 1,
            selectedCity: 0,
            provinces: [],
            cities: [],
            loadProvinces() {
                let self = this;
                axios.get('http://127.0.0.1:8000/provinces/').then(function (response) {
                    // handle success
                    self.provinces = response.data.rajaongkir.results;
                    self.loadCities();
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },
            loadCities() {
                let self = this;
                self.cities = [];
                axios.get('http://127.0.0.1:8000/cities/' + self.selectedProvince).then(function (response) {
                    // handle success
                    self.cities = response.data.rajaongkir.results;
                }).catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },
        }
    }
</script>
{% endblock %}