{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
<div class="w-full flex flex-wrap">
    <div class="w-full md:w-1/2 flex flex-col">
        <div>
            <p class="mr-32 ml-32 mt-16" style="font-size: 50px; color: black;">Hello.</p>
            <p class="text-justify mr-32 ml-32 mt-8" style="color: black;"><i>Maddi is a clothing brand with the aim of improving the economy and welfare of women in Indonesia. 
                  All of our products are made with love and compassion from the hands of professional craft-women. 
                  This business started from our attention to independent women who are tough as tailors and craft-women who do not have access and support in marketing their products more widely. 
                  Every outfit we produce has a different story behind it. Some of the profits from our sales are used for education in the scope of health, welfare, and women's independence.​</i></p>
            <p class="text-justify mr-32 ml-32 mt-8" style="color: black;">Maddi merupakan salah satu clothing brand dengan tujuan untuk meningkatkan perekonomian dan kesejahteraan wanita di Indonesia. 
                  Semua produk kami dibuat dengan penuh cinta dan kasih sayang dari tangan-tangan wanita pengrajin yang profesional. 
                  Bisnis ini dimulai dari perhatian kami pada wanita-wanita mandiri yang tangguh sebagai penjahit maupun pengrajin yang tidak memiliki akses dan dukungan dalam memasarkan produk mereka secara lebih luas. 
                  Setiap baju yang kami hasilkan ada cerita yang berbeda dibaliknya. Sebagian keuntungan dari hasil penjualan kami gunakan untuk edukasi dalam lingkup kesehatan, kesejahteraan, dan kemandirian wanita.​</p>
         </div>
    </div>
    <div class="w-1/2 shadow-2xl">
        <img class="object-cover w-full h-screen hidden md:block" src="../../../static/images/about.png">
    </div>
</div>


<!--Footer-->
<footer class="bg-white">
    <hr>
    <div class="container mx-auto px-6 pt-10 pb-6">
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/5 text-center md:text-left ">
          <h5 class="uppercase mb-6 font-bold">Links</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <a
                href="#"
                class="hover:underline text-gray-600 hover:text-orange-700"
                >FAQ</a
              >
            </li>
            <li class="mt-2">
              <a
                href="#"
                class="hover:underline text-gray-600 hover:text-orange-700"
                >Shipping & Returns</a
              >
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/5 text-center md:text-left ">
          <h5 class="uppercase mb-6 font-bold">Address :</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <p>Jl. Untung Suropati No. 84, Tegalsari, Surabaya, Jawa Timur</p>
            </li>
          </ul>
          <h5 class="uppercase mb-6 font-bold">Email :</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <p>maddi.indonesia@gmail.com</p>
            </li>
          </ul>
          <h5 class="uppercase mb-6 font-bold">Phone :</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <p>081334669928</p>
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/5 text-center md:text-left ">
          <h5 class="uppercase mb-6 font-bold">Social</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <a
                href="#"
                class="hover:underline text-gray-600 hover:text-orange-700"
                >Facebook</a
              >
            </li>
            <li class="mt-2">
              <a
                href="#"
                class="hover:underline text-gray-600 hover:text-orange-700"
                >Linkedin</a
              >
            </li>
            <li class="mt-2">
              <a
                href="#"
                class="hover:underline text-gray-600 hover:text-orange-700"
                >Twitter</a
              >
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/5 text-center md:text-left "></div>
        <div class="w-full md:w-1/5 text-center md:text-left ">
          <h5 class="uppercase mb-6 font-bold">Receive all of our news and updates!</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <form action="/action_page.php">
                <input type="email" id="email" name="email" placeholder="Email Address*">
                <input type="submit" value="Subscribe now">
              </form>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}