<footer class="bg-white">
    <hr>
    <div class="container mx-auto px-6 pt-10 pb-6">
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/5 text-center md:text-left ">
          <h5 class="uppercase mb-6 font-bold">Links</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <a
                href="#"
                class="hover:underline text-gray-600 hover:text-orange-700"
                >FAQ</a
              >
            </li>
            <li class="mt-2">
              <a
                href="#"
                class="hover:underline text-gray-600 hover:text-orange-700"
                >Shipping & Returns</a
              >
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/5 text-center md:text-left ">
          <h5 class="uppercase mb-6 font-bold">Address :</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <p>Jl. Untung Suropati No. 84, Tegalsari, Surabaya, Jawa Timur</p>
            </li>
          </ul>
          <h5 class="uppercase mb-6 font-bold">Email :</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <p>maddi.indonesia@gmail.com</p>
            </li>
          </ul>
          <h5 class="uppercase mb-6 font-bold">Phone :</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <p>081334669928</p>
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/5 text-center md:text-left ">
          <h5 class="uppercase mb-6 font-bold">Social</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <a
                href="#"
                class="hover:underline text-gray-600 hover:text-orange-700"
                >Facebook</a
              >
            </li>
            <li class="mt-2">
              <a
                href="#"
                class="hover:underline text-gray-600 hover:text-orange-700"
                >Linkedin</a
              >
            </li>
            <li class="mt-2">
              <a
                href="#"
                class="hover:underline text-gray-600 hover:text-orange-700"
                >Twitter</a
              >
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/5 text-center md:text-left "></div>
        <div class="w-full md:w-1/5 text-center md:text-left ">
          <h5 class="uppercase mb-6 font-bold">Receive all of our news and updates!</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <form action="/action_page.php">
                <input type="email" id="email" name="email" placeholder="Email Address*">
                <input type="submit" value="Subscribe now">
              </form>
          </ul>
        </div>
      </div>
    </div>
  </footer>